#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/display/panel.h>

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,display = &ili9488;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-bitbang";
		dc-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
		rd-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
		wr-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
		data-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>,
			     <&gpio0 1 GPIO_ACTIVE_HIGH>,
			     <&gpio0 2 GPIO_ACTIVE_HIGH>,
			     <&gpio0 3 GPIO_ACTIVE_HIGH>,
			     <&gpio0 4 GPIO_ACTIVE_HIGH>,
			     <&gpio0 5 GPIO_ACTIVE_HIGH>,
			     <&gpio0 6 GPIO_ACTIVE_HIGH>,
			     <&gpio0 7 GPIO_ACTIVE_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;

		ili9488: ili9488@0 {
			compatible = "ilitek,ili9488";
			mipi-max-frequency = <25000000>;
			reg = <0>;
			pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;
			rotation = <90>;
			width = <480>;
			height = <320>;
			mipi-mode = "MIPI_DBI_MODE_8080_BUS_8_BIT";
		};
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
